<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show</title>
</head>
<body>
    <h1>Details Of <%= c.title %>:</h1>
    <h2><%= c.title %></h2>
    <h2><%= c.location %></h2>
   
    <p><a href="/campgrounds/<%= c._id %>/edit" > Edit</a></p>
    <p> <a href="/campgrounds" >All campgrounds</a></p>
    <form action="/campgrounds/<%=c._id %>?_method=DELETE" method="POST" >
        <button>Delete</button>
    </form>
</body>
</html> 
